/* 
.con{
	margin: 0;
	padding: 0;
	height:110px;
	
}
.r1{
	background-color: #c1c1c1;
	height:50px;
	padding:5px;

}
.r2{
	height:auto;
	background-color:#fff;

}
.c1{
	height:100%;
	background-color:#efefef;
	padding:0;
	padding-top:30px;
	
	
	
}

.c2{
	
	height:auto;
	
}
.b1{
	margin:12px;
	background:#00ABEA;
	border:#00ABEA;
	
	
}
.b1:hover{
	background:#0080D7;
}

  #end{
	background-color:blue;
	height:auto;
}  
  */